

html{
    background: rgb(255, 3, 66);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 10px;
}

body{
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock{
    width: 30rem;
    height: 30rem;
    border: 20px  solid purple ;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: white;
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand{
    width: 50%;
    height: 6px;
    background: white;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.sec{
    background: black;
    width: 50%;
    height: 3px;

}

.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 10px; 
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-small;
}  

.header{
    position: fixed;     
    text-align: center;    
    top: 10px; 
    width: 100%;
    font-size:xx-large;
}




:root{
    --theme-color:rbga(214, 122, 214, 0.7);
}
body{
    height: 100vh;
 
}

body,
.container,
    .social{
display: flex;
justify-content: center;
align-items: center;
    }


.container{
    width: 110px;
    height: 100px;
    border-radius: 50%;
    padding: 300px;
    transition: 0.5s;
    z-index: 1;
}
.social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transform: translateY(0px);
    transition: 0.5s;
    background: rgb(255, 23, 166);

}
img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20 var(--theme-color);
}

.container:hover{
    width: 140px;
    height: 140px;
}

.container:hover .social{
    transform: 0.5s;
    box-shadow: 0 0 20 var(--theme-color);
}

.container:hover .social:nth-child(1){
    transform: rotate(-60deg) translateY(-120px);
}
.container:hover .social:nth-child(2){
    transform: rotate(-30deg) translateY(-120px);
}
.container:hover .social:nth-child(3){
    transform: rotate(0deg) translateY(-120px);
}
.container:hover .social:nth-child(4){
    transform: rotate(30deg) translateY(-120px);
}
.container:hover .social:nth-child(5){
    transform: rotate(60deg) translateY(-120px);
}

i{
    transition: 0.5s;
    color: white;
}

.social:hover i {
    transform: rotate(360deg);
    color: var(--theme-color)
}